* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*Global styles */

body {
  background: white;
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

/* Top */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  height: 16vh;
  background-color: rgb(0, 191, 255);
}

.top {
  color: white;
  letter-spacing: 3px;
  font-size: 40px;
}
.nav-links {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}

.nav-links a:hover {
  color: blue;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 20px;
}

.MyWorld {
  text-align: center;
  padding: 100px;
  background-color: blue;
  color: white;
}

.MyWorld h1 {
  font-size: 40px;
  line-height: 1.6;
  letter-spacing: 2.8px;
}

.Me {
  text-align: center;
  background-color: rgb(176, 224, 230);
}

.Me h1 {
  padding: 50px;
  font-size: 45px;
}

.Where {
  text-align: center;
  background-color: rgb(152, 251, 152);
}
.Where h1 {
  padding: 50px;
  font-size: 45px;
}

.Favorite {
  text-align: center;
  background-color: rgb(25, 25, 112);
}

.Favorite h1 {
  font-weight: normal;
  color: white;
  padding: 50px;
  font-size: 45px;
}
img {
  padding-bottom: 20px;
}

.Others {
  text-align: center;
  background-color: rgb(250, 240, 230);
}
.Others h1 {
  padding: 50px;
  font-size: 45px;
}

.CopyRight {
  text-align: center;
  font-size: 20px;
}
